$controls-height: 24px;

%box {
	overflow: hidden;
	border: none;
	background-color:#eee;
	padding: 4px 8px;
	border: 1px solid #ccc;
	box-shadow: /*0 1px 3px -2px hsl(0, 0%, 7%), */inset 0 2px 5px 0 hsla(0, 100%, 100%, 0.3);
	-webkit-box-shadow: /*0 1px 3px -2px hsl(0, 0%, 7%), */inset 0 2px 5px 0 hsla(0, 100%, 100%, 0.3);
	height: 100%;
}

%btn {
	@extend %box;
	cursor: pointer;
	&:hover {
		background-color: #ddd;
	}
	&:active {
		box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);
		-webkit-box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);
		background-color: #ddd;
	}
}

.drawing-board-controls {
	margin: 0 auto;
	text-align: center;
	font-size: 0;
	display: table;
	border-spacing: 15px 0;
	height: $controls-height;
	position: relative;
	&[data-align="left"] {
		margin: 0;
		left: -15px;
	}
	&[data-align="right"] {
		margin: 0 0 0 auto;
		right: -15px;
	}
	.drawing-board-canvas-wrapper + &, & + .drawing-board-canvas-wrapper {
		margin-top: 5px;
	}
}

.drawing-board-controls-hidden {
	@extend .drawing-board-utils-hidden;
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.drawing-board-control {
	display: table-cell;
	border-collapse: separate;
	vertical-align: top;
	font-size: 16px;
	height: 100%;
}

.drawing-board-control-inner {
	position: relative;
	height: 100%;
}

.drawing-board-control > button {
	@extend %btn;
}