@import 'compass';

%box {
	overflow: hidden;
	border: none;
	background-color:#eee;
	padding: 4px 8px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px -2px hsl(0, 0%, 7%), inset 0 2px 5px 0 hsla(0, 100%, 100%, 0.3);
	-webkit-box-shadow: 0 1px 3px -2px hsl(0, 0%, 7%), inset 0 2px 5px 0 hsla(0, 100%, 100%, 0.3);
	font-size: 1.5em;
	line-height: 1.5em;
	height: 54px;
}

%btn {
	@extend %box;
	cursor: pointer;
	&:hover {
		background-color: #ddd;
	}
	&:active {
		box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);
		-webkit-box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);
		background-color: #ddd;
	}
}

.drawing-board-utils-hidden {
	display: none;
}

.drawing-board {
	position: relative;
	display: block;
	margin: 0 auto;
}

.drawing-board-canvas-wrapper {
	position: relative;
	margin: 10px 0;
	border: 1px solid #ddd;
}

.drawing-board-canvas {
	cursor: crosshair;
}

.drawing-board-controls {
	margin: 0 auto;
	text-align: center;
	font-size: 0;
	display: table;
	border-spacing: 15px 0;
}

.drawing-board-control {
	display: table-cell;
	border-collapse: separate;
	vertical-align: top;
	font-size: 16px;
}

.drawing-board-control button {
	@extend %btn;
}

.drawing-board-cursor {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	border-radius: 50%;
	background: #ccc;
	background: rgba(#000, 0.2);
}

@import "controls/colors";
@import "controls/navigation";
@import "controls/size";