.drawing-board-control-size {
}

.drawing-board-control-size .drawing-board-control-inner {
	@extend %box;
	position: relative;
	height: 44px;
	width: 100px;
}

.drawing-board-control-size-input {
	width: 100%;
}

.drawing-board-control-size-label {
	background: #333;
	display: inline-block;
	position: absolute;
	bottom: 4px;
	left: 8px;
	opacity: .2;
	pointer-events: none;
	z-index: 10;
}